/**
  #484743
  #21A5BD
  #43CABD
  #E8E7E3
  #dddbd5
  #454544
  #1A1C25
*/
@font-face {
  font-family: screen;
  src: url(fonts/screen.ttf);
}

@font-face {
  font-family: MainFont;
  src: url(fonts/default.ttf);
}

html, body {
  background-color: #F5F6F8;
  padding: 0;
  margin: 0;
  font-family: MainFont;
  font-size: 14px;
  color: #555;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently */

  cursor: default;
}

h1 {
  margin: 0;
  padding: 30px 0 10px 0;
}

section {
  display: none;
}

section.active {
  display: block;
}

input, textarea, select {
  font-family: MainFont;
}

input:focus, textarea:focus, select:focus {
  box-shadow: none;
  outline: none;
}

select {
  font-size: 30px;
  font-family: MainFont;
  background-color: #fff;
}

.btn {
  cursor: pointer;
  text-align: center;
  font-size: 15px;
}

.btn-default {
  background-color: #E8E7E3;
  display: inline-block;
  padding: 10px 20px;

  color: #484743;
  border: 1px solid #fff;
}

.btn-default:hover {
  background-color: #dddbd5;
}

.btn-default:active {
  background-color: #c6c3b9;
}

.range {
  white-space: nowrap;
  color: #fff;
}

.input-group, .btn {
  font-family: MainFont, sans-serif;
}

#main-menu {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  position: fixed;
  padding: 0 20px;
}

#main-menu .btn {
  color: #ADB3B6;
  text-align: center;
  line-height: 50px;
  height: 50px;
  margin-right: 50px;
  display: inline-block;
  transition: color 0.5s ease-in;
}

#main-menu .btn:hover {
  color: #333;
}

#main-menu .btn:last-child {
  margin-right: 0;
}

#main-menu .btn i {
  font-size: 30px;
  width: 50px;
  line-height: 50px;
}

#main-menu .btn.active {
  color: #58BFE1;
}

#main-menu .btn.btn-settings {
  position: absolute;
  right: 0;
  top: 0;
}

#side-bar {
  bottom: -70px;
  left: 0;
  right: 0;
  height: 70px;
  position: fixed;
  background-color: #fff;
  overflow: hidden;
  transition: bottom 0.3s ease-in;

  border-top: 1px solid #E4E4E4;
}

.connected #side-bar {
    bottom: 0;
}

#side-bar .range {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  left: 320px;
  line-height: 100px;
  padding: 10px 0;
  color: #58BFE1;
}

#side-bar .range canvas {
  vertical-align: top;
}

#side-bar .input-group,
#side-bar .btn {
  color: #58BFE1;
  display: inline-block;
  line-height: 70px;
  vertical-align: top;
}

#side-bar .input-group {
  width: 181px;
}

#side-bar .input-group label {
  line-height: 70px;
  display: inline-block;
  vertical-align: top;
}

#side-bar .input-group input {
  color: #58BFE1;
  background-color: transparent;
  border: 0;
  font-size: 30px;
  text-align: right;
  font-family: MainFont, sans-serif;
  width: 120px;
  line-height: 70px;
}

#side-bar .input-group input:focus {
  background-color: #f8f8f8;
}

#side-bar .btn {
  font-family: MainFont, sans-serif;
  width: 100px;
  display: none;
}

#side-bar .btn.active {
  display: inline-block;
}

#side-bar .btn:hover {
  background-color: #eaeaea;
}

#side-bar .btn:active {
  background-color: #58BFE1;
  color: #fff;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 70px;
  right: 0;
  overflow: auto;
  padding: 90px 20px;
}

.disconnected #container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 90px 20px;
}

#capture .range {
  height: 50px;
  color: #43CABD;
  padding-bottom: 10px;
}

#capture .item {
  margin-bottom: 20px;
  border-bottom: 1px solid #E8E7E3;
  position: relative;
}

#capture .item .name {
  color: #454544;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  text-align: left;
  font-family: MainFont, sans-serif;
  margin-bottom: 10px;
  width: 50%;
}

#capture .item .progress {
  height: 1px;
  left: 0;
  bottom: -1px;
  width: 50%;
  background-color: #CA4350;
  position: absolute;
}

#capture .read-done .progress {
  opacity: 0;
  transition: opacity 1s ease-in;
}

#capture .item .toolbar {
  background-color: #red;
  height: 20px;
}

#capture .item .toolbar .btn {
  color: #484743;
  display: inline-block;
  float: right;
  line-height: 22px;
  margin-left: 10px;
}

#capture .item .toolbar .btn:hover {
  color: #21A5BD;
}

#settings .device {
  width: 523px;
  margin: auto;

  position: relative;
  display: none;
  text-align: center;
}

.connected #settings .device {
  display: block;
}

#settings .btn-disconnect {
  margin-top: 40px;
}

#settings .btn-connect {
  margin-top: 20px;
}

#settings .graphic {
  font-family: screen;
  line-height: 1.2em;

  background: url(img/device.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 523px;
  height: 345px;

  padding: 40px 47px;
  box-sizing: border-box;
  font-size: 35px;
  color: #21A5BD;
  letter-spacing: -2.5px;
  line-height: 44px;

  text-align: left;
}

#settings .graphic .line1 {
  left: 25px;
  top: 35px;
  position: relative;
}

#settings .graphic .line2 {
  left: 25px;
  top: 27px;
  position: relative;
}

#settings .device-selector {
  width: 523px;
  margin: auto;
}

#settings .device .btn {
  display: inline-block;
}

#settings .device .control .btn {
  position: absolute;

  background-repeat: no-repeat;
  background-size: contain;

  width: 39px;
  height: 39px;

  cursor: pointer;
  background: url(img/btn3.svg);
}

#settings .device .control .btn-a {
  left: 345px;
  top: 272px;
}

#settings .device .control .btn-b {
  left: 442px;
  top: 272px;
}

#settings .device .control .btn:hover {
  background: url(img/btn.svg);
}

#settings .device .control .btn:active {
  background: url(img/btn2.svg);
}

.connected .device-selector {
  display: none;
}

#settings .device-selector {
  text-align: center;
  font-size: 20px;
}

#container .icon {
  font-size: 60px;
  margin-bottom: 10px;
}

#settings .list-devices {
  display: none;
}

.no-range-message {
  font-size: 20px;
  text-align: center;
}

#histogram,
#histogram .display {
  width: 100%;
  height: calc(100% - 50px);
  font-size: 0;
}


#histogram .display {
  position: relative;
}

#histogram .bar {
  display: inline-block;
  font-size: 0;
  bottom: 0;
  position: relative;
  height: 100%;
}

#histogram .bar .content {
  display: inline-block;
  width: 90%;
  background-color: #21A5BD;
  bottom: 0;
  vertical-align: bottom;
}

#histogram .bar .count {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  width: 90%;
}

#histogram .legend .item {
  text-align: center;
  width: 9.09091%;
  display: inline-block;
  height: 50px;
  padding-right: 1%;
  font-size: 14px;
  box-sizing: border-box;
  white-space: nowrap;
}

.btn-back {
  position: absolute;
  left: 10px;

  display: none;
}

.btn-back .text {
  position: relative;
  left: -10px;
  top: -3px;
  display: inline-block;
  font-size: 18px;
}
